* {
    font-family: 'Montserrat';
}

img {
    height: 250px;
}

ul {
    display: flex;
}

li {
    list-style: none;

}

a {
    align-items: center;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}

h2 {
    font-weight: 500;
    color: #006BFF;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: #08C2FF;
}